In [21]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import numpy as np

headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'}
webpage = requests.get('https://www.ambitionbox.com/list-of-companies?page=1',headers = headers).text

In [14]:
soup = BeautifulSoup(webpage,'lxml')

In [23]:
# print(soup.prettify())

In [24]:
soup.find_all('h1')[0].text

'\n\t\t\t\t\t\t\tList of companies in India\n\t\t\t\t\t\t'

## To find out names of the companies

In [25]:
for i in soup.find_all('h2'):
    print(i.text.strip())

TCS
Accenture
Cognizant
Wipro
ICICI Bank
HDFC Bank
Infosys
Capgemini
Tech Mahindra
HCLTech
Genpact
Axis Bank
Concentrix Corporation
Amazon
Reliance Jio
IBM
Larsen & Toubro Limited
Reliance Retail
HDB Financial Services
Teleperformance
Companies by  Industry
Companies by  Locations
Companies by  Type
Companies by  Badges

In [30]:

for i in soup.find_all('p'):
  print(i.text.strip())

AmbitionBox
Discover Best Places to work in India
AmbitionBox
About Company




Discover best places to work
Compare & find best workplace
Bring your workplace to life
Highlight your company's perks
Read reviews for 6L+ companies
Rate your former or current company
Discover salaries for 6L+ companies
Calculate your take home salary
Check your market value
Help other jobseekers
Read interviews for 40K+ companies
Interviews questions for 1K+ colleges
Contribute your interview questions
Discover Best Places to Work!
8,98,247
							unique
							companies found
Sort By:
Popular
AmbitionBox Award Winner'22
AmbitionBox Award Winner'22
AmbitionBox Award Winner'22
AmbitionBox Award Winner'22
AmbitionBox Award Winner'22
AmbitionBox Award Winner'22
AmbitionBox Award Winner'22
AmbitionBox Award Winner'22
AmbitionBox Award Winner'22
AmbitionBox Award Winner'22
AmbitionBox Award Winner'22
AmbitionBox Award Winner'22
Helping over
									1 Crore
									job seekers every month in choosing their right fit company
Reviews
Salaries
Interviews
Users/Month
About Company
Made with ❤️ in India. Trademarks belong to their respective owners. All
					rights reserved © 2023 Info Edge (India) Ltd.

In [31]:
# for i in soup.find_all('p'):
    # print(i.text.strip())

## To find out the ratings

In [33]:
len(soup.find_all('p',class_='rating'))

0

## To find out the number of reviews

In [34]:
len(soup.find_all('a' , class_='review-count'))

0

## Considering the whole container

In [35]:
company=soup.find_all('div',class_='company-content-wrapper')

In [36]:
len(company)

0

In [37]:

name=[]
rating=[]
reviews=[]
ctype=[]
hq=[]
how_old=[]
no_of_employee=[]

for i in company:

  name.append(i.find('h2').text.strip())
  rating.append(i.find('p',class_='rating').text.strip())
  reviews.append(i.find('a' , class_='review-count').text.strip())
  ctype.append(i.find_all('p',class_='infoEntity')[0].text.strip())
  hq.append(i.find_all('p',class_='infoEntity')[1].text.strip())
  how_old.append(i.find_all('p',class_='infoEntity')[2].text.strip())
  no_of_employee.append(i.find_all('p',class_='infoEntity')[3].text.strip())

df=pd.DataFrame({'name':name,
   'rating':rating,
   'reviews':reviews,
   'company_type':ctype,
   'Head_Quarters':hq,
   'Company_Age':how_old,
   'No_of_Employee':no_of_employee,
   })

In [38]:
df

Empty DataFrame
Columns: [name, rating, reviews, company_type, Head_Quarters, Company_Age, No_of_Employee]
Index: []

In [39]:
df.shape

(0, 7)

## Creating dataframe for all pages

In [40]:
final=pd.DataFrame()
for j in range(1,1001):
  webpage=requests.get('https://www.ambitionbox.com/list-of-companies?page={}'.format(j)).text
  soup=BeautifulSoup(webpage,'lxml')
  company=soup.find_all('div',class_='company-content-wrapper')
  name=[]
  rating=[]
  reviews=[]
  ctype=[]
  hq=[]
  how_old=[]
  no_of_employee=[]

  for i in company:

    try:
       name.append(i.find('h2').text.strip())
    except:
       name.append(np.nan)

    try:
       rating.append(i.find('p',class_='rating').text.strip())
    except:
       rating.append(np.nan)
   
    try:

      reviews.append(i.find('a' , class_='review-count').text.strip())
    except:
      reviews.append(np.nan)

    try:

      ctype.append(i.find_all('p',class_='infoEntity')[0].text.strip())
    except:
      ctype.append(np.nan)
    try:

      hq.append(i.find_all('p',class_='infoEntity')[1].text.strip())
    except:
      hq.append(np.nan)
    
    try:

      how_old.append(i.find_all('p',class_='infoEntity')[2].text.strip())
    except:
      how_old.append(np.nan)
    try:
      no_of_employee.append(i.find_all('p',class_='infoEntity')[3].text.strip())
    except:
      no_of_employee.append(np.nan)
    

  df=pd.DataFrame({'name':name,
    'rating':rating,
    'reviews':reviews,
    'company_type':ctype,
    'Head_Quarters':hq,
    'Company_Age':how_old,
    'No_of_Employee':no_of_employee,
    })
  
  final=final.append(df,ignore_index=True)

C:\Users\mark2\AppData\Local\Temp\ipykernel_23092\3918354741.py:63: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final=final.append(df,ignore_index=True)